/* General styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Checkbox styles */

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
}

.checkbox-label-tour {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.checkbox-label:hover {
    background-color: #f0f0f0;
}

.checkbox-text {
    margin-right: 10px;
    margin-left: 10px;
}

.event-count {
    background-color: #ff6b6b;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-left: auto;
}

/* Tour card styles */
.tour-container-booking {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    justify-content: flex-start;
    gap: 20px; /* Add gap between booking boxes */
}

.booking-booking {
    flex: 0 0 calc(33.33% - 20px); /* Maximum width for each booking (3 items per row with 20px gap) */
    border: 3px solid #ccc; /* Border style */
    border-radius: 8px; /* Border radius */
    padding: 15px;
    margin: 15px;
}

.tour-card-booking {
    display: flex;
    /* background-color: #9B2242; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% - 20px);
    margin: 20px;
    flex-direction: column;
    justify-content: flex-start;

}

.tour-card-update{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    border: 1px solid #ccc; /* Border color and thickness */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow properties */
    border-radius: 10px;
    padding: 10px 10px;
}

.tour-card-booking-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #9B2242;
    color: white;
}

.tour-details {
    padding: 20px;
}

.language-content {
    display: flex;
    gap: 20px;
}

.language,
.content {
    flex: 1;
}

.info-title {
    font-weight: bold;
}

.date-time-details {
    margin-top: 20px;
}


.tour-details-update {
    display: block;

}

.info-title-update{
    color: #9B2242;
    font-weight: bold;
}

.info-group {
    flex: 1 0 30%; /* Three items per row */
    display: flex;
    flex-direction: column;
}

.info-title {
    font-weight: bold;
}
.info-title-span{
    color:black;
    font-weight: normal;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    color: #fff;
}
.edit-link {
    display: inline-block;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text */
    padding: 0.5rem 1rem; /* Padding */
    text-decoration: none; /* Remove default link underline */
    border: none; /* Remove default button border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer */
}

.edit-link:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}
.edit-button,
.delete-button {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue color for edit button */
    color: #fff;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545; /* Red color for delete button */
}

.edit-button:hover,
.delete-button:hover {
    background-color: #0056b3; /* Darker blue color on hover for edit button */
}

.delete-button:hover {
    background-color: #c82333; /* Darker red color on hover for delete button */
}


.popup-delete {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content-delete {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

.button-container-delete {
    margin-top: 20px;
}

.cancel-button-delete,
.confirm-button-delete {
    padding: 8px 16px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button-delete {
    background-color: #ddd;
}

.confirm-button-delete {
    background-color: #007bff;
    color: #fff;
}

.cancel-button-delete:hover {
    background-color: #ccc;
}

.confirm-button-delete:hover {
    background-color: #0056b3;
}

.popup-delete {
    display: flex; /* Change display property to flex */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content-delete {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

.bookings{
    display: flex;
    flex-direction: column;
}

.bookings-title{
    display: flex;
}
.booking-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.booking-details h2 {
    font-weight: bold;
    margin-top: 0;
}

.booking-details p {
    margin: 5px 0;
}

.amount {
    color: green;
    padding-left: 10px;
}

.data-padder {
    padding-left: 10px;
}

.padding-color{
    color: #c82333;
}