/* TourList.css */

.tour-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    justify-content: center;
}

.tour-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.tour-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.tour-details {
    font-size: 1rem;
}

.language-content {
    display: flex;
    margin-bottom: 20px;
}

.language-content .language,
.language-content .content {
    flex: 1;
}

.language-content .info-title {
    font-weight: bold;
}

.date-time-details {
    display: flex;
    margin-top: 20px;
}

.date-time-details .info-title {
    font-weight: bold;
}
