$grey-dark: rgb(130, 130, 130);
$black-01: rgba(26, 26, 26, 0.10);
$primary-black: rgb(41, 24, 24);
$secindary-black: rgba(41, 24, 24, 0.50);
$primary-red: rgb(133, 45, 35);
$secondary-red: rgba(133, 45, 35, 0.25);
$primary-yellow: rgb(249, 238, 225);
$secondary-yellow: rgba(249, 238, 225, 0.50);
$primary-green: rgb(42, 95, 64);
$secondary-green: rgba(42, 95, 64, 0.25);


body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --text-5: Montserrat;
  --body-xs: Roboto;
  --heading-11: CENTRASONE;
  --wf-buttons-button-medium: Inter;

  /* font sizes */
  --text-5-size: 15px;
  --body-xs-size: 12px;
  --other-menu-m-size: 16px;
  --text-2-size: 20px;
  --text-3-size: 18px;
  --text-1-size: 24px;
  --heading-3-size: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --heading-1-size: 54px;
  --font-size-13xl: 32px;
  --font-size-24xl: 43px;
  --heading-2-size: 42px;
  --font-size-6xl: 25px;
  --font-size-15xl: 34px;
  --font-size-smi: 13px;

  /* Colors */
  --white: #fff;
  --primary-red-100: #852d23;
  --primary-yellow-100: #f9eee1;
  --primary-yellow-50: rgba(249, 238, 225, 0.5);
  --coolgray-60: #697077;
  --coolgray-90: #21272a;
  --primary-black-100: #291818;
  --primary-black-50: rgba(41, 24, 24, 0.5);
  --primary-90: #001d6c;
  --color-black: #000;
  --wf-base-600: #717d96;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-29xl: 48px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-5xs: 8px;
  --gap-13xl: 32px;
  --gap-21xl: 40px;
  --gap-45xl: 64px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-61xl: 80px;
  --padding-2xl: 21px;
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-8xs: 5px;
  --padding-12xs: 1px;
  --padding-19xl: 38px;
  --padding-63xl: 82px;
  --padding-12xs-5: 0.5px;
  --padding-7xs-5: 5.5px;
  --padding-4xl: 23px;
  --padding-75xl: 94px;
  --padding-42xl: 61px;
  --padding-lg: 18px;
  --padding-base: 16px;
  --padding-base-5: 15.5px;
  --padding-43xl: 62px;
  --padding-32xl: 51px;
  --padding-173xl: 192px;
  --padding-mini: 15px;
  --padding-7xl: 26px;
  --padding-85xl: 104px;
  --padding-33xl: 52px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-134xl: 153px;
  --padding-95xl: 114px;
  --padding-210xl: 229px;
  --padding-38xl: 57px;
  --padding-5xs: 8px;
  --padding-10xs: 3px;
  --padding-9xs: 4px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-9xs: 4px;
  --br-xl: 20px;

  --defaultwhite: rgba(255, 255, 255, 1);
  --primary-60: rgba(15, 98, 254, 1);
  --button-l-font-family: "Roboto", Helvetica;
  --button-l-font-weight: 500;
  --button-l-font-size: 20px;
  --button-l-letter-spacing: 0.5px;
  --button-l-line-height: 100%;
  --button-l-font-style: normal;
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-primary-red-100: rgba(133, 45, 35, 1);
  --variable-collection-primary-green-100: rgba(42, 95, 64, 1);
  --text-2-font-family: "Montserrat", Helvetica;
  --text-2-font-weight: 400;
  --text-2-font-size: 16px;
  --text-16-font-size: 10px;
  --text-2-letter-spacing: 0px;
  --text-2-line-height: 139.9999976158142%;
  --text-2-font-style: normal;
  --text-1-font-family: "Montserrat", Helvetica;
  --text-1-font-weight: 600;
  --text-1-font-size: 24px;
  --text-1-letter-spacing: 0.5px;
  --text-1-line-height: 150%;
  --text-1-font-style: normal;
  --text-5-font-family: "Montserrat", Helvetica;
  --text-5-font-weight: 500;
  --text-5-font-size: 15px;
  --text-5-letter-spacing: 0px;
  --text-5-line-height: 100%;
  --text-5-font-style: normal;
  --variable-collection-primary-black-100: rgba(41, 24, 24, 1);
  --primary-black-100percent: #291818;
}

