@import "../../variables";


.banner {
  color: $primary-yellow;
  font-family: CENTRASONE;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-size: cover;
  margin: auto;
  width: 100%;
  height: 660px;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 56.96%, rgba(0, 0, 0, 0) 100%) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.20) 57.23%, rgba(0, 0, 0, 0.00) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerText {
  color: $primary-yellow;
  font-family: CENTRASONE;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
  @media (max-width: 1200px) {
    font-size: 48px;
  }

  @media (max-width: 992px) {
    font-size: 36px;
  }

  @media (max-width: 768px) {
    font-size: 28px;
  }

  @media (max-width: 576px) {
    font-size: 20px;
  }
}
