@import "../../variables.scss";

.wine-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 30px 30px;
}

.wine-main-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 40px;
}

.wine-main-container-title p {
    padding-top: 20px;
    font-family:CENTRASONE;
    font-size: 128px;
    line-height: 180%;
    color: rgb(133, 45, 35);
}

.wine-main-container-info{
    padding-top: 20px;
    font-family: var(--text-2-font-family, "-Regular", sans-serif);
    font-size: 16px;
    line-height: 100%;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.upper-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
}

.upper-section-first-image{
    border-radius: 4px;
    position: relative;
}

.upper-section-right{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.upper-section-info p {
    padding: 30px 20px;
    width: 500px;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
}

.upper-section-second-image{
    display: block;
    border-radius: 4px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    width: 400px;
    height: 400px;
}

.upper-section-second-image img {
    width: 100%;
}


.left-image{
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 600px;
    height: 400px;
}

.left-image img, .right-lower-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lower-Section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
}

.lower-section-title {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 60px;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: 46px;
    line-height: 180%;
    font-weight: 800;
    font-style: italic;
}

.left-lower-content p {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 60px;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
    max-width: 600px;
}

.lower-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
}

.right-lower-content{
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    object-fit: cover;
    width: 500px;
    height: 500px;
}


@media only screen and (max-width: 992px) {
    .wine-main-container-title p {
        font-size: 88px;
    }

    .upper-section {
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .lower-content {
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .upper-section-second-image {
        height: 100%;
    }
}