@import "../../variables";

.container {
  max-width: 100%;
  margin: 0 96px;
  position: relative;
  padding-top: 50px;

  &::before {
    content: "";
    width: 100%;
    height: 15px;
    background: url("../../assets/Line\ 2.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
  }

  @media (max-width: 992px) {
    margin: 0 auto;
  }


}

.monthHeader {
  border: $secondary-red 2px solid;
  border-radius: 8px 8px 0 0;
  height: 155px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 94px 38px 0;
  padding: 0 20px;
  svg {
    cursor: pointer;
  }
}

.monthTitle {
  text-align: center;
  font-size: 64px;
  line-height: 150%;
  color: $primary-black;
  font-family: CENTRASONE;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-collapse: collapse;
  margin: 0 38px;
  margin-bottom: 196px;


  @media (max-width: 768px) {
    overflow-y: scroll;
  }

}

.weekday {
  text-align: center;
  margin: 45px 0;
  border-bottom: $secondary-red 2px solid;
  border-top: $secondary-red 2px solid;
  border-left: $secondary-red 2px solid;
  font-family: Montserrat;
  height: 62px;
  color: $primary-black;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 150%;
  &:nth-child(7n) {
    border-right: $secondary-red 2px solid;
  }
}

.emptyDay, .day {
  aspect-ratio: 1 / 1;
  position: relative;
  padding: 0.5rem;
  font-family: Montserrat;
  border-left: $secondary-red 2px solid;
  border-top: $secondary-red 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:nth-child(7n) {
    border-right: $secondary-red 2px solid;
  }
  &:nth-last-child(-n+7) {
    border-bottom: $secondary-red 2px solid;
  }
  &:last-child {
    border-radius: 0 0 8px 0;
  }
  &:nth-last-child(7) {
    border-radius: 0 0 0 8px;
  }
  .dayNumber {
    position: absolute;
    top: 12px;
    left: 16px;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    color: $primary-black;
  }
}

.eventWrapper {
  position: relative;
  a {
    text-decoration: none;
  }
}

.event {
  text-align: center;
  color: $primary-black;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tooltip {
  position: absolute;
  left: -50%;
  top: 50%;
  margin-left: 10px;
  border: $primary-red 2px solid;
  color: $primary-black;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  z-index: 10;
  width: 420px;
  .title {
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: CENTRASONE;
    color: $primary-red;
  }
  .time {
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: Montserrat;
  }
  .description {
    font-size: 20px;
    line-height: 150%;
    font-weight: 400;
    font-family: Montserrat;
  }
}