/* Form container */
.form-container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-direction: column;
    margin-bottom: 47px;
}

/* Form label */
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-label-one {
    font-weight: bold;
    vertical-align: inherit;
    cursor: pointer;
}

/* Form input */
.form-input,
.form-select {
    width: calc(100% - 22px); /* Adjusted width to account for padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Form select */
.form-select {
    appearance: none; /* Remove default dropdown arrow */
    background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 12L5 7h10l-5 5z"/></svg>'); /* Custom dropdown arrow */
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px;
}

/* Form submit button */
.form-submit {
    background-color: #9B2242;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 30px;
}

.form-submit:hover {
    background-color: #9B2242;
}

.form-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.form-row-one {

}

/* Form group (adjust width as needed) */
.form-group {
    width: 45%;
}

.seperator{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-radius: 20px;
}

.spans{
    font-size: small;
    color: #a7a4a4;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Adjust the margin as needed */
}

.checkbox-label {
    margin-left: 5px; /* Adjust the margin as needed */
}

.form-row-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.form-row-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.form-group-text {
    width: 48%;
}

.form-label-text {
    font-weight: bold;
    margin-bottom: 5px;
}

.text-input-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    line-clamp: 3;
}

.text-input {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
}

.text-input:focus {
    border: 1px solid #007bff;
}

/* Form group one */
/* Form group one */
.form-group-one {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Checkbox styling */
.form-group-one input[type="checkbox"] {
    margin-right: 10px; /* Adjust spacing as needed */
    vertical-align: middle;
}

/* Date picker container */
.date-picker-container-one {
    margin-left: 20px; /* Adjust margin as needed */
    display: none; /* Hide date picker container by default */
}

/* Show date picker container when checkbox is checked */
.form-group-one input[type="checkbox"]:checked ~ .date-picker-container-one {
    display: block;
}

.checkbox-one-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-container button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.pagination-container button:hover {
    background-color: #f0f0f0;
}

.pagination-container button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.form-group ul {
    list-style: none;
    padding: 0;
}

.form-group ul li {
    display: inline-block;
    margin-right: 10px;
}

.form-group ul li input[type="checkbox"] {
    margin-right: 10px;
}

.form-group ul li label {
    display: inline-block;
}
