@import "../../variables";

.loginContainer {
  width: 100%;
  height: 100vh;
  background: radial-gradient($primaryColor,  black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgotToggle {
  margin: 0 auto 20px;
  width: fit-content;
  color: $primaryColor;
  cursor: pointer;
}

.forgotToggle:hover {
  text-decoration: underline;
}

.forgotForm p {
  white-space: pre-line
}

.forgotForm {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 30px;
  min-width: 300px;
  width: 90%;
}

.loading {
  text-align: center;
  height: 300px;
  line-height: 300px;
  font-size: 1.5rem;
}