:root {
    --defaultwhite: rgba(255, 255, 255, 1);
    --primary-60: rgba(15, 98, 254, 1);
    --button-l-font-family: "Roboto", Helvetica;
    --button-l-font-weight: 500;
    --button-l-font-size: 20px;
    --button-l-letter-spacing: 0.5px;
    --button-l-line-height: 100%;
    --button-l-font-style: normal;
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-primary-red-100: rgba(133, 45, 35, 1);
    --variable-collection-primary-green-100: rgba(42, 95, 64, 1);
}

.contact-section {
    padding-bottom: 140px;
}

.contact-section .contact-us_title {
    font-family: CENTRASONE;
    font-size: 54px;
    margin: 56px 0;
    text-align: center;
}

.main_container {
    max-width: 1304px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}


.contact-section .contact-form {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.contact-section .contact-form::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: url("../../assets/Line\ 2.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.contact-section .contact-form .left-side {
    position: relative;
    max-width: 472px;
    width: 100%;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-section .contact-form .left-side::after {
    position: absolute;
    content: "";
    right: 0;
    top: 1%;
    width: 10px;
    height: 100%;
    background: url("../../assets/Line\ 3.png") no-repeat;
    background-size: cover;
    margin-left: auto;
}

.contact-section .contact-form .left-side .text-wrapper {
    font-family: Montserrat;
    font-size: 24px;
}

.contact-section .contact-form .left-side .frame-3 {
    display: grid;
    gap: 32px;
    margin-bottom: 112px;
}

.contact-section .contact-form .left-side .frame-3 .menu-item p,
.contact-section .contact-form .left-side .frame-3 .menu-item-2{
    font-family: Montserrat;
    font-size: 18px;
    color: #291818;
}

.contact-section .error-message {
    margin-top: 5px;
}

.box .overlap-group {
    position: relative;
    width: 1316px;
    top: -6px;
    left: -6px;
}

.box .frame {
    display: flex;
    align-items: center;
    gap: 174px;
    position: relative;
}

.box .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 162px;
    position: relative;
    flex: 0 0 auto;
}

.box .frame-2 {
    display: flex;
    flex-direction: column;
    height: 235px;
    align-items: flex-start;
    gap: 32px;
    position: relative;
}

.box .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 36px;
    white-space: nowrap;
}

.box .frame-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.box .menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.box .p {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #291818;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
}

.box .menu-item-2 {
    white-space: nowrap;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #291818;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
}

.box .social-icons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
    padding: 50px 0 100px;
}

.box .social-icons::before {
    content: "";
    background: url("../../assets/Line\ 5.png") no-repeat;
    background-size: 99%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
}

.box .icon-jam-icons {
    position: relative;
    width: 40px;
    height: 40px;
}

.box .img {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: -40px;
}

.box .frame-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 104px;
    position: relative;
    flex: 0 0 auto;
}

.box .frame-5 {
    display: flex;
    align-items: flex-start;
    gap: 22px;
    position: relative;
    flex: 0 0 auto;
}

.box .div-wrapper {
    display: grid;
    gap: 24.5px;
    width: 100%;
    max-width: 385px;
    align-items: center;
    padding: 16px;
    position: relative;
}

.contact-section .contact-form .right-side {
    padding-top: 72px;
    width: 100%;
}

.contact-form-right-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    position: relative;
    margin-left: 37.5px;
}

.contact-form-right-side .form-group.w-50 {
    width: 100%;
    max-width: 385px;
}

.contact-form-right-side .form-group.w-100 {
    width: 100%;
}

.contact-form-right-side .form-group .form-group-input, .contact-form-right-side .form-group textarea {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background: transparent;
    resize: none;
    font-family: Montserrat;
    font-weight: 400;
    color: #291818;
    font-size: 20px;
    padding: 0 0 24.5px 16px;
}

.contact-form-right-side .form-group .form-group-input::placeholder, .contact-form-right-side .form-group textarea::placeholder {
    color: #291818;
}

.contact-form-right-side .form-group .form-group-input:focus, .contact-form-right-side .form-group textarea:focus,
.box .country-code select:focus {
    outline: none;
}

.contact-form-right-side .form-group.button-part {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 99.6px;
    margin-left: -37.5px;
    position: relative;
    padding: 50px 0 100px;
}

.contact-form-right-side .form-group.button-part::before {
    content: "";
    background: url("../../assets/Line\ 4.png") no-repeat;
    background-size: 99%;
    position: absolute;
    top: 0;
    left: 0;
    width: 106.5%;
    height: 15px;
}

.contact-form-right-side .form-group.button-part .text-wrapper-5 {
    padding-left: 65.5px;
}

.contact-form-right-side .form-group.button-part input {
    position: absolute;
    left: 9%;
}
.contact-form-right-side .form-group.message-part {
    grid-column-start: 1;
    grid-column-end: 3;
}
.box .text-wrapper-2 {
    position: relative;
    font-family: Montserrat;
    font-weight: 400;
    color: #291818;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    width: 100%;
    display: block;
}

.box .phone-number-amount {
    display: flex;
    width: 385px;
    height: 77px;
    align-items: end;
    gap: 8px;
    position: relative;
}

.phone-number-input::-webkit-outer-spin-button,
.phone-number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.box .country-code {
    display: flex;
    flex-direction: column;
    width: 154px;
    height: 77px;
    align-items: flex-start;
    gap: 10px;
    padding: 8px;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #291818;
}

.box .country-code select {
    width: 100%;
    background: transparent;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    color: #291818;
    font-size: 20px;
}

.box .input-content {
    align-items: center;
    gap: 8px;
    align-self: stretch;
    width: 100%;
    display: flex;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.box .frame-6 {
    display: flex;
    width: 103px;
    align-items: center;
    gap: 8px;
    position: relative;
}


.box .input-content-2 {
    flex-direction: column;
    height: 42px;
    align-items: flex-start;
    justify-content: space-around;
    gap: 8px;
    display: flex;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.box .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #291818;
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 36px;
}

.box .icon-jam-icons-2 {
    position: relative;
    width: 24px;
    height: 24px;
}

.box .input-content-wrapper {
    align-items: center;
    gap: 16px;
    align-self: stretch;
    width: 100%;
    display: flex;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.box .input-content-3 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 8px;
    align-self: stretch;
    /* display: flex; */
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.box .text-wrapper-4 {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #291818;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
}

.box .frame-7 {
    display: flex;
    width: 794px;
    height: 77px;
    align-items: center;
    gap: 96px;
    padding: 16px;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #291818;
}

.box .frame-8 {
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;
    flex: 0 0 auto;
}

.box .frame-9 {
    display: flex;
    width: 549px;
    height: 77px;
    align-items: center;
    gap: 26px;
    padding: 8px 16px;
    position: relative;
}

.box .checkbox-off {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid;
    border-color: #291818;
}

.box .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-right: -2px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #291818;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 15px;
    white-space: nowrap;
}

.box .buttons-group {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 185px;
    height: 56px;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    position: relative;
}

.box .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 185px;
    height: 56px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    position: relative;
    background-color: #852d23;
    border-radius: 4px;
}

.box .text-container {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
    flex: 0 0 auto;
}

.box .button-text {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 20px;
    white-space: nowrap;
}

.box .line {
    position: relative;
    width: 1316px;
    height: 12px;

}

.box .line-2 {
    position: relative;
    width: 1316px;
    height: 12px;

}

.box .line-3 {
    position: relative;
    width: 12px;
    height: 657px;
}

.popup-frame {
    width: 100%;
    max-width: 512px;
    margin: auto;
    gap: 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #fff;
    z-index: 9999;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #55555580;
    padding: 56px 32px;
}

.popup-frame .thank-you-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
}

.popup-frame .thank-you-message .check-circle {
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
}

.popup-frame .thank-you-message .popup-frame-title {
    color: #000000;
    font-family: CENTRASONE;
    font-size: 32px;
    margin-bottom: 24px;
}

.popup-frame .thank-you-message .popup-frame-p {
    position: relative;
    width: 448px;
    margin-top: -1px;
    font-family: Montserrat;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
}

.frame .buttons-group {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 185px;
    height: 56px;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    position: relative;
}

.frame .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 185px;
    height: 56px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    position: relative;
    background-color: var(--variable-collection-primary-red-100);
    border-radius: 4px;
}

.frame .text-container {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
    flex: 0 0 auto;
}

.frame .button-text {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--variable-collection-white);
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 20px;
    white-space: nowrap;
}


@media only screen and (max-width: 992px) {
    .contact-section .contact-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-section .contact-form .left-side::after, .box .social-icons::before {
        display: none;
    }

    .contact-form-right-side .form-group.button-part::before {
        background: url("../../assets/Line\ 2.png") no-repeat;
        background-size: 100%;
        width: 100%;
    }

    .contact-section .contact-form .left-side {
        max-width: 100%;
    }

}



@media only screen and (max-width: 600px) {

    .contact-form-right-side {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .contact-form-right-side .form-group.button-part {
        flex-direction: column;
        gap: 25px;
        margin-left: 0;
    }

    .contact-form-right-side .form-group.w-50 {
        max-width: 100%;
    }

    .box .phone-number-amount, .box .phone-number-amount .input {
        width: 100%;
    }

    .box .social-icons {
        padding: 0;
    }
}