.container-event {
    width: 50%;
    margin: 50px auto;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.text-input-container-event{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    line-clamp: 3;
    margin-bottom: 50px;
}

.quill{
    padding-bottom: 20px;
}
.MuiGrid-root {
    padding-bottom: 20px;
}

.input-to-html.error .error-message {
    color: red;
}