.subscribers-container{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
}


/* Custom DataTable styles */
.p-datatable {
    font-family: Arial, sans-serif;
}

.button-suc{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

/* Table header */
.p-datatable .p-datatable-thead > tr > th {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    border: 1px solid #ddd;
}

/* Table rows */
.p-datatable .p-datatable-tbody > tr > td {
    border: 1px solid #ddd;
}

/* Hover effect */
.p-datatable .p-datatable-tbody > tr:hover {
    background-color: #f9f9f9;
}

/* Selected row */
.p-datatable .p-datatable-tbody > tr.p-highlight {
    background-color: #e0e0e0;
}

/* Pagination */
.p-paginator .p-paginator-current {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
}
/* Custom DataTable styles */
.p-datatable {
    font-family: Arial, sans-serif;
}

/* Table header */
.p-datatable .p-datatable-thead > tr > th {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    border: 1px solid #ddd;
}

/* Table rows */
.p-datatable .p-datatable-tbody > tr > td {
    border: 1px solid #ddd;
    padding: 12px 16px; /* Adjust padding to increase spacing */
}

/* Hover effect */
.p-datatable .p-datatable-tbody > tr:hover {
    background-color: #f9f9f9;
}

/* Selected row */
.p-datatable .p-datatable-tbody > tr.p-highlight {
    background-color: #e0e0e0;
}

/* Pagination */
.p-paginator .p-paginator-current {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
}
/* Custom DataTable styles */
.p-datatable {
    font-family: Arial, sans-serif;
}

/* Table header */
.p-datatable .p-datatable-thead > tr > th {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    border: 1px solid #ddd;
    padding-right: 10px; /* Move titles 10px to the right */
}

/* Table rows */
.p-datatable .p-datatable-tbody > tr > td {
    border: 1px solid #ddd;
    padding: 12px 16px; /* Adjust padding to increase spacing */
}

/* Hover effect */
.p-datatable .p-datatable-tbody > tr:hover {
    background-color: #f9f9f9;
}

/* Selected row */
.p-datatable .p-datatable-tbody > tr.p-highlight {
    background-color: #e0e0e0;
}

/* Pagination */
.p-paginator .p-paginator-current {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
}

.delete-button {
    background-color: #dc3545; /* Red color */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
}

.delete-button:hover {
    background-color: #c82333; /* Darker red color on hover */
}
.custom-button-subscribe {
    font-size: 10px;
    padding: 0.3rem;
    border: none;
    border-radius: 50%;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

.custom-button-subscribe:hover {
    background-color: #c82333; /* Darker shade of red on hover */
}

.custom-button-subscribe:focus {
    outline: none; /* Remove focus outline */
}

.custom-button-subscribe .pi {
    font-size: 1rem; /* Adjust icon size */
}

.p-button-danger:hover .pi-trash {
    color: red;
}

.pi-trash {
    color: black;
}

.download-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 200px

}

.download-button:hover {
    background-color: #45a049;
}

.download-button i {
    margin-right: 0.5rem;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}