.frame-175 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    height: 100vh; /* Ensure full viewport height */
}

.rectangle-19 {
    background: var(--white, #ffffff);
    width: 100%;
    height: 100%;
    position: relative;
}

.frame-13 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.frame-12 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wine-enthusiasts{
    color: var(--primary-black-100percent, #291818);
    text-align: center;
    font-family: var(--text-1-font-family, "Montserrat-SemiBold", sans-serif);
    font-size: var(--text-1-font-size, 24px);
    line-height: var(--text-1-line-height, 150%);
    font-weight: var(--text-1-font-weight, 600);
}

.button {
    background: var(--primary-red-100percent, #852d23);
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 56px;
}

.text-container {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.button-text {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
}
