@import "../../../variables.scss";
.wines-section {
  background:  #ffffff;
  padding: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  align-items: center;
}
.section-heading {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1280px;
  left: calc(50% - 640px);
}
.top {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.secondary-headline-main {
  color: var(--primary-black-100, #291818);
  text-align: center;
  font-family: CENTRASONE;
  font-size: var(--heading-1-font-size, 54px);
  line-height: var(--heading-1-line-height, 110%);
  font-weight: var(--heading-1-font-weight, 400);
  position: relative;
  align-self: stretch;
}
/* .buttons-group {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 185px;
  height: 56px;
  left: calc(50% - 93px);
} */

.button {
  background: var(--primary-red-100, #852d23);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 185px;
  height: 56px;
  position: relative;
}
.text-container {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button-text {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  position: relative;
}
.frame-160 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
}
.wines {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-155 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.images {
  flex-shrink: 0;
  width: 100%;
  height: 560px;
  position: relative;
}
.wines-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.frame-156 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
}
.wine-picture {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 472px;
  height: 560px;
  position: relative;
  object-fit: cover;
}
.frame-157 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
}
.frame-158 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
}
.wine-title {
  color: var(--primary-black-100, #291818);
  font-family: Montserrat;
  font-size: var(--text-2-font-size, 20px);
  line-height: var(--text-2-line-height, 140%);
  font-weight: var(--text-2-font-weight, 400);
  text-align: center;
}
.icon-jam-icons-outline-logos-chevron-down {
  width: 36px;
  height: 36px;
  transform: translate(-36px, -36px);
  overflow: visible;
  position: absolute;
  left: 60px;
  top: 330px;
}
.icon-jam-icons-outline-logos-chevron-down2 {
  width: 36px;
  height: 36px;
  transform: translate(0px, -36px);
  overflow: visible;
  position: absolute;
  right: 24px;
  top: 330px;
}
.frame-1562 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-159 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1572 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1582 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
