.partner-list {
    width: 80%;
    margin: 0 auto;
}

.partner-list h2 {
    margin-bottom: 20px;
}

.image-container-partner {
    width: 250px;
    heigth: auto;
}

.partner-list ul {
    list-style-type: none;
    padding: 0;
}

.partner-list li {
    margin-bottom: 10px;
}

.partner-list li button {
    margin-left: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.partner-list li button:hover {
    background-color: #0056b3;
}

.partner-details {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

}

.partner-logo {
    width: 350px;
}

.info-title-partner {
    padding: 20px 20px;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: 24px;
    line-height: 100%;
    align-content: center;
    font-weight: bold;

}

.content-partner{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
