

.tproduct-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.product-container {
    width: calc(50% - 10px); /* Adjust the width as needed */
    margin: 5px; /* Adjust the margin as needed */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.product-image {
    width: 100%; /* Ensure the image fills its container */
    height: auto; /* Maintain aspect ratio */
}

.info-title-product{
    display:flex;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 150%;
    font-style: normal;
    font-weight: bold;
    margin-right: 20px;
}

.info-title-product-span{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 150%;
    font-style: normal;
}

.products-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust the column width based on available space */
    gap: 20px; /* Add some space between grid items */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    border: 1px solid #ddd; /* Light gray border */
    padding: 20px; /* Add padding around the card */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    background-color: #f9f9f9; /* Light background color */
}

/* Additional styling for the content within the card */
.products-card .product-image {
    max-width: 100%; /* Ensure the image does not exceed the card width */
    height: auto; /* Maintain aspect ratio */
}

.products-card .product-details {
    margin-top: 10px; /* Add some space between image and details */
    text-align: center; /* Center text */
}

/* Style the title */
.products-card .product-title {
    font-size: 18px; /* Increase font size */
    color: #333; /* Dark text color */
    margin-bottom: 5px; /* Add some space below the title */
}

/* Style the description */
.products-card .product-description {
    font-size: 14px; /* Decrease font size */
    color: #666; /* Medium gray text color */
}

.product-details-update{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    width:100%;
    margin-top: 10px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    justify-content: center;
    justify-items: stretch;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
