@import "../../variables.scss";

.main-page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    background-color: rgb(249, 238, 225);
    padding: 30px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 100px;

}

.main-title-section {
    padding: 20px 20px;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: 36px;
    line-height: 140%;
    font-weight: 400;
}

.second-title-section {
    padding: 20px 20px;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: 16px;
    line-height: 100%;
    font-weight: 300;
    align-content: center;
    font-style: italic;
    text-align: center;
}

.title-end-line {
    align-items: center;

}

.main-content {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.main-content-image {
    position: relative;
    left: -100px;
    width: 400px;
    height: auto;
}

.main-content-image-over {
    width: 500px;
    height: auto;
    top: 150px;
    left: 20%;
}

.main-content-text{
    width: 500px;
    padding: 30px 30px;
}

.info-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 20px;
}
.info-title{
    padding: 20px 20px;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: 24px;
    line-height: 100%;
    font-weight: 400;
    align-content: center;
}

.info-middle{
    padding: 20px 20px;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: 16px;
    line-height: 100%;
    font-weight: 300;
    align-content: center;
}

.symbol-image{
    width: 100%;
    height: auto;
    padding-right: 10px;
}

.text2{
    padding-top: 20px;
}


.small-title{
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.left-title{
    padding-top: 20px;
    padding-right: 100px;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: 24px;
    line-height: 100%;
    font-weight: 400;
    text-decoration: underline;
}

.rigth-title{
    padding-top: 20px;
    padding-left: 100px;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: 24px;
    line-height: 100%;
    font-weight: 400;
}

.info-section{
    display: flex;
    flex-direction: row;
}

.image-section{
    position: relative;
    width: 70%;
    height: auto;
    left: 20%;
}

.text-section{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: 16px;
    line-height: 100%;
    font-weight: 300;
    padding-top: 100px;
    padding-bottom: 100px;

}

