.mainSlider {
  //display: flex;
  width: 100%;
  height: calc(100vh - 128px);
  gap: 40px;
  margin: auto;
}

.imageSlider {
  width: 100%;
  height: calc(100vh - 128px);
}

.sliderItem {
  position: relative;
  color: white;
}

.mainSlider video {
  height: calc(100vh - 128px);
  object-fit: cover;
  width: 100%;
}

.sliderImage {
  width: 100%;
  height: auto;
  object-fit: contain; // Change from 'cover' to 'contain'
}

.sliderContentOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 128px);
  background: linear-gradient(
                  108.99deg,
                  rgba(0, 0, 0, 0.8) 0%,
                  rgba(0, 0, 0, 0.4) 61.78954243659973%,
                  rgba(0, 0, 0, 0) 100%
  );
  z-index: 2;
}

.sliderContentContainer {
  position: absolute;
  left: 104px;
  top: 0;
  display: flex;
  height: calc(100vh - 128px);
  align-items: center;
  gap: 40px;
  z-index: 3;
}

.sliderContentWrapper {
  display: flex;
  max-width: 611px;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}

.contentSectionMenuTitle {
  text-align: left;
  width: 100%;
  color: white; // Adjust as needed
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.mainSliderContentSectionTitle h1,
.mainSliderContentSectionTitle h2,
.mainSliderContentSectionTitle h3,
.mainSliderContentSectionTitle h4,
.mainSliderContentSectionTitle h5,
.mainSliderContentSectionTitle h6 {
  color: white;
  font-family: CENTRASONE;
  text-align: left;
  font-size: 54px;
  line-height: 110%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  margin-bottom: 48px;
}

.mainSliderContentSectionTitle div, .mainSliderContentSectionTitle p {
  color: white;
  margin-top: 0;
  font-family: Montserrat;
  text-align: left;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}

.contentButton {
  display: flex;
  height: 56px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: red;
  cursor: pointer;
}

.buttonText {
  color: white;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.5px;
}
.mainSlider_video {
  transition: opacity 0.5s ease;
}

.blurred-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

//
//@media only screen and (max-width: 600px) {
//  .mainSlider, .imageSlider, .sliderItem, .mainSlider video, .sliderContentOverlay, .sliderContentContainer, .sliderContentWrapper {
//    height: auto;
//  }
//
//  .mainSlider, .imageSlider {
//    height: auto;
//    padding-top: 128px; /* Adjust padding to accommodate header */
//  }
//
//  .sliderContentContainer {
//    left: 0;
//  }
//
//  .mainSliderContentSectionTitle h1,
//  .mainSliderContentSectionTitle h2,
//  .mainSliderContentSectionTitle h3,
//  .mainSliderContentSectionTitle h4,
//  .mainSliderContentSectionTitle h5,
//  .mainSliderContentSectionTitle h6 {
//    font-size: 32px;
//    margin-bottom: 24px;
//  }
//
//  .mainSliderContentSectionTitle div,
//  .mainSliderContentSectionTitle p {
//    font-size: 16px;
//    margin-bottom: 24px;
//  }
//}
//
//@media only screen and (max-width: 480px) {
//  .sliderContentContainer {
//    display: none; /* Hide content on smaller screens */
//  }
//
//  .mainSliderContentSectionTitle {
//    text-align: center; /* Center align title on smaller screens */
//  }
//
//  .mainSliderContentSectionTitle h1,
//  .mainSliderContentSectionTitle h2,
//  .mainSliderContentSectionTitle h3,
//  .mainSliderContentSectionTitle h4,
//  .mainSliderContentSectionTitle h5,
//  .mainSliderContentSectionTitle h6 {
//    font-size: 24px;
//    margin-bottom: 16px;
//  }
//
//  .mainSliderContentSectionTitle div,
//  .mainSliderContentSectionTitle p {
//    font-size: 14px;
//    margin-bottom: 16px;
//  }
//}