.main_container {
    max-width: 1304px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.bottling-info-section {
    margin: 52px 0 112px;
}

.bottling-info-section.reverse {
    margin: 188px 0;
}

.bottling-info-title {
    text-align: center;
    max-width: 942px;
    width: 100%;
    display: grid;
    gap: 24px;
    margin: 0 auto 52px;
    position: relative;
}

.bottling-info-title h1 {
    font-family: CENTRASONE;
    font-size: 42px;
}

.bottling-info-title p {
    font-family: Montserrat;
    font-size: 20px;
    font-style: italic;
    line-height: 110%;
    position: relative;
}

.bottling-info-title::after {
    content: "";
    position: absolute;
    width: 61px;
    height: 1px;
    background: black;
    left: 0;
    bottom: -20%;
    right: 0;
    margin: 0 auto;
    text-shadow: 2px 2px 5px white;
}

.bottling-info-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
}

.bottling-info-content .image-side {
    max-width: 100%;
    height: 745px;
    z-index: 1;
}

.bottling-info-section.reverse .bottling-info-content .image-side {
    z-index: 1;
}
.bottling-info-content .image-side img {
    width: 100%;
    height: 100%;
}

.bottling-info-content .description-side {
    max-width: 64.7%;
    background-color: #ffffff;
    padding: 58px 100px;
    margin-left: -300px;
    z-index: 1;
    text-align: center;
    border-radius: 4px;
}

.bottling-info-section.reverse .bottling-info-content .description-side {
    margin-left: 0;
    margin-right: -300px;
    z-index: 2;
}

.bottling-info-content .description-side h1 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
}

.bottling-info-content .description-side .paragraphs {
    display: grid;
    gap: 6px;
}

.bottling-info-content .description-side .paragraphs p {
    font-family: Montserrat;
    font-size: 20px;
    letter-spacing: 140%;
    line-height: 1.4;
}