@import "../../variables";

.awardsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  position: relative;
  background-color: $secondary-yellow;
}

.awardsContainer {
  width: 80%;
  margin: 0 auto;
}

.awardItem {
  display: flex;
  justify-content: center;
}

.awardLogo {
  max-width: 100%;
  height: auto;
}

:global(.award-logo) {
  max-width: 100%;
  height: auto;
}

:global(.award-item) {
  display: flex;
  justify-content: center;
}

:global(.slick-prev,
  .slick-next) {
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  color: $primary-red;
}

:global(.slick-prev) {
  left: 20px;
}

:global(.slick-next) {
  right: 20px;
}

:global(.slick-prev:hover,
  .slick-next:hover) {
  color: #555;
}