

.subscribe-section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;

}


.subscribtion-text-section {
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
}

.subscribtion-text-section label {
    text-align: center;
    font-family: var(--text-1-font-family);
    font-weight: var(--text-1-font-weight);
    color: var(--variable-collection-primary-black-100);
    font-size: var(--text-1-font-size);
    letter-spacing: var(--text-1-letter-spacing);
    line-height: var(--text-1-line-height);
    font-style: var(--text-1-font-style);
    padding: 30px;
}

.submit-section {
    width: 400px;
    height: 56px;
    position: relative;
    background-color: var(--variable-collection-primary-yellow-50);
    border-radius: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--variable-collection-primary-black-50);
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
    align-items: center;

}

.button-submit-section{
    margin: 40px;
}

.submit-section div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: lightgray;
    margin: 10px;

}

.input-section {
    border: none;
    background-color: transparent !important;
    width: 90%;
    font-size: var(--text-3-font-size);
    font-style: var(--text-3-font-style);
    color: var(--variable-collection-primary-red-100);

}

.input-section:focus {
    outline: none;
}

.input-section:focus::placeholder {
    color: transparent;
}

.submit-section .buttons-group {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    padding-top: 16px;
}

.subscribe-section-button {
    width: 120px;
    padding: 16px;
    background-color: var(--variable-collection-primary-red-100);
    border: 1px solid var(--variable-collection-primary-red-100);
    border-radius: 4px;
    font-size: var(--text-3-font-size);
    font-style: var(--text-3-font-style);
    color: var(--coolgray-10);
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease, color 0.5s ease, border-radius 0.5s ease;
}
.subscribe-section-button-group{
    display:flex;
}
.subscribe-section-button button {
    font-size: var(--text-3-font-size);
    font-style: var(--text-3-font-style);
    color: var(--coolgray-10);
    text-align: center;
    border:none;
    background-color: transparent;
}

.subscribe-section-button:hover {
    background-color: var(--secondarygreen);
    border: 1px solid var(--secondarygreen);
    transform: scale(1.0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
}


.notification {
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
    transition: color 0.5s ease;
}

.notification.error {
    color: var(--variable-collection-primary-red-100);
}

.notification.success {
    color: var(--variable-collection-primary-black-50);
}
