.main_container {
    max-width: 1304px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.otherWines_section .main-title {
    font-family:CENTRASONE;
    text-align: center;
    font-size: 42px;
    margin-bottom: 56px;
}

.otherWines_section {
    padding: 128px 0;
}

.otherWines_section .otherWines_list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    text-align: center;
}

.otherWines_section .otherWines_list .otherWines_item {
    display: grid;
    gap: 20px;
    max-width: 330px;
    margin: 0 auto;
}

.otherWines_section .otherWines_list .otherWines_item .otherWines_item_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.otherWines_section .otherWines_list .otherWines_item .otherWines_item_name {
    font-family: Montserrat;
    font-size: 20px;
    color: #291818;
}