@import "../../variables.scss";

.item,
.item * {
    box-sizing: border-box;
}
.item {
    width: 24px;
    height: 24px;
    position: relative;
}
.current {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    overflow: visible;
}
.combined-shape {
    position: absolute;
    left: 13px;
    transform: translate(-8.17px, 3px);
    overflow: visible;
}

.frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 122px;
    position: relative;
}

.frame .booked-tour-info {
    position: relative;
    width: 558px;
    height: 811px;
    margin-top: -4px;
    margin-bottom: -16px;
    margin-left: -15px;
    z-index: -1;
}

.frame .div {
    display: inline-flex;
    flex-direction: column;
    height: 713px;
    align-items: flex-start;
    gap: 193px;
    position: relative;
    flex: 0 0 auto;
}

.frame .div-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.frame .div-wrapper {
    display: flex;
    width: 385px;
    height: 77px;
    align-items: center;
    gap: 96px;
    padding: 16px;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--variable-collection-primary-black-100);
}

.frame .text-wrapper {
    position: relative;
    width: 272px;
    font-family: var(--text-2-font-family);
    font-weight: var(--text-2-font-weight);
    color: var(--variable-collection-primary-black-100);
    font-size: var(--text-2-font-size);
    letter-spacing: var(--text-2-letter-spacing);
    line-height: var(--text-2-line-height);
    font-style: var(--text-2-font-style);
}

.frame .phone-number-amount {
    display: flex;
    width: 385px;
    height: 77px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
}

.frame .country-code {
    display: flex;
    flex-direction: column;
    width: 154px;
    height: 77px;
    align-items: flex-start;
    gap: 10px;
    padding: 8px;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--variable-collection-primary-black-100);
}

.frame .input-content {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
}

.frame .div-3 {
    display: flex;
    width: 103px;
    align-items: center;
    gap: 8px;
    position: relative;
}

.frame .armenia {
    position: relative;
    width: 35px;
    height: 24px;
    background-size: cover;
    background-position: 50% 50%;
}

.frame .input-content-2 {
    flex-direction: column;
    height: 42px;
    align-items: flex-start;
    justify-content: space-around;
    gap: 8px;
    display: flex;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.frame .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    font-family: var(--text-1-font-family);
    font-weight: var(--text-1-font-weight);
    color: var(--variable-collection-primary-black-100);
    font-size: var(--text-1-font-size);
    letter-spacing: var(--text-1-letter-spacing);
    line-height: var(--text-1-line-height);
    font-style: var(--text-1-font-style);
}

.icon-jam-icons {
    position: relative;
    width: 14px;
    height: 14px;
}

.frame .input {
    display: flex;
    flex-direction: column;
    height: 77px;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--variable-collection-primary-black-100);
}

.frame .input-content-wrapper {
    align-items: center;
    gap: 16px;
    align-self: stretch;
    width: 100%;
    display: flex;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.frame .input-content-3 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 8px;
    align-self: stretch;
    display: flex;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.frame .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    font-family: var(--text-2-font-family);
    font-weight: var(--text-2-font-weight);
    color: var(--variable-collection-primary-black-100);
    font-size: var(--text-2-font-size);
    letter-spacing: var(--text-2-letter-spacing);
    line-height: var(--text-2-line-height);
    font-style: var(--text-2-font-style);
}


.frame .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: var(--text-2-font-family);
    font-weight: var(--text-2-font-weight);
    color: var(--variable-collection-primary-black-100);
    font-size: var(--text-2-font-size);
    letter-spacing: var(--text-2-letter-spacing);
    line-height: var(--text-2-line-height);
    white-space: nowrap;
    font-style: var(--text-2-font-style);
}




.frame .p {
    position: relative;
    width: fit-content;
    font-family: var(--text-5-font-family);
    font-weight: var(--text-5-font-weight);
    color: var(--variable-collection-primary-black-100);
    font-size: var(--text-5-font-size);
    letter-spacing: var(--text-5-letter-spacing);
    line-height: var(--text-5-line-height);
    white-space: nowrap;
    font-style: var(--text-5-font-style);
}

.frame .buttons-group {
    display: inline-flex;
    height: 56px;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    position: relative;
    margin-bottom: -78px;
}

.frame .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    height: 56px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--variable-collection-primary-red-100);
    border-radius: 4px;
}

.frame .text-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
    flex: 0 0 auto;
}

.frame .button-text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Montserrat-SemiBold", Helvetica, serif;
    font-weight: 600;
    color: var(--variable-collection-white);
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 20px;
    white-space: nowrap;
}


.details-container{
    display: flex;
    justify-content: center;
    gap: 122px;
    align-items: flex-start;
    flex-direction: row;
    align-content: flex-start;
    padding-bottom: 100px;
}

.booking-confirm-form {
    width: 100%;
    max-width: 385px;
}

.booking-confirm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 790px;
    width: 100%;
    max-width: 515px;
}

.background-image {
    width: 100%; /* Ensure the image covers the container */
    height: auto;
}

.text-overlay {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    color: #291818;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    background: url("../../assets/wine-frame.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.pop-up-text-overlay {
    max-width: 450px;
    margin: 0 auto;
}

.tour-small-logo{
    padding: 10px;
    width: 100%;
    height: 100px;
    max-width: 100px;
}

.tour-info {
    font-family: "Montserrat", sans-serif; /* Adjust font family as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tour-title {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
}


.tour-date{
    margin-bottom: 5px;
    color: #291818;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 25px;
    line-height: 110%;
    font-weight: 600;
    position: relative;
    width: 295px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tour-time,
.visitor-count{
    margin-bottom: 5px;
    color: #291818;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 12px;
    line-height: 110%;
    font-weight: 300;
    position: relative;
    width: 295px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tour-time-value{
    margin-bottom: 5px;
    color: #291818;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 25px;
    line-height: 110%;
    font-weight: 600;
    position: relative;
    width: 295px;
    text-align: center;
    padding-top: 10px;
}

.total-amount{
    margin-bottom: 5px;
    color: #291818;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 25px;
    line-height: 110%;
    font-weight: 600;
    position: relative;
    width: 295px;
    text-align: center;
    padding-top: 10px;
}

.wine-3-wines-icon-3-png {
    width: 75.6%;
    position: absolute;
    left: -33.14%;
    top: -34.26%;
    transform-origin: 0 0;
    transform: rotate(15.085deg) scale(1, 1);
    overflow: hidden;
    object-fit: cover;
}
.wine-3-wines-icon-1-png {
    width: 57.6%;
    position: absolute;
    right: -32.19%;
    left: 78.59%;
    top: 90.4%;
    overflow: hidden;
    object-fit: cover;
}

.input-field {
    /* Add your specific CSS styles here */
    /* For example: */
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-select {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid black; /* Bottom border in black */
    border-radius: 0;
    background-color: transparent;
    appearance: none;
}




.country-code-dropdown {
    width: auto;
    padding: 8px;
    border: none;
    border-bottom: 1px solid black; /* Bottom border in black */
    border-radius: 0;
    background-color: transparent;
    appearance: none;
}

.country-code-dropdown,
.phone-number-input {
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
}

.phone-number-amount {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between elements as needed */
}

.country-code {
    flex-shrink: 0; /* Prevent the country code dropdown from shrinking */
}

.country-code-dropdown {
    /* Add styles for the dropdown */
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    /* Add other styles as needed */
}

.form__group {
    flex-grow: 1; /* Allow the input field to grow and fill the remaining space */
}

.custom-dropdown {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center; /* Align items vertically */
}

.language-dropdown {
    background: url("../../assets/chevron-down.svg") no-repeat;
    background-size: 15px;
    background-position: 100% 65%;
}

.dropdown-select {
    font-family: inherit;
    border: 0;
    border-bottom: 1px solid #291818;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    background: transparent;
    transition: border-color 0.2s;
    width: 100%;
    height: 55px;
}

.dropdown-select::placeholder {
    color: transparent;
}

.dropdown-select:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.dropdown-select:focus {
    border-bottom-width: 3px;
}

/* Label styling */
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    text-align: left;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: var(--text-2-font-size, 20px);
    line-height: var(--text-2-line-height, 140%);
    font-weight: var(--text-2-font-weight, 400);
}

.dropdown-select:focus {
    border-bottom-width: 3px;
    padding-bottom: 9px; /* Adjust the padding to make the border longer */
}

.custom-dropdown {
    display: flex;
    align-items: center; /* Align items vertically */
}

.div-5 {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 250px;
}

.checkbox-off {
    width: 24px;
    height: 24px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 10px;
}


.checkbox-normal {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: var(--variable-collection-white);
    border-radius: 2px;
    border: 1px solid;
    border-color: var(--variable-collection-primary-black-100);
}

.checkbox-normal input[type="checkbox"]:checked {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid;
    border-color: var(--variable-collection-primary-black-100);
}


.error-message {
    font-size: 10px;
    color: red;
    margin-top: 5px;
}

input[type='checkbox'] {
    accent-color: var(--variable-collection-primary-red-100);
}

.checkbox-error-message {
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: var(--text-2-font-size, 20px);
    color: red;
}

.checkbox-lable-message {
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: var(--text-2-font-size, 20px);
    padding-left: 26px;
}

@media only screen and (max-width: 992px) {
    .details-container {
        align-items: center;
        flex-direction: column;
    }
}