
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    //width: 100%;
    border: 0;
    border-bottom: 1px solid #291818;
    outline: 0;
    font-size: 1.3rem;
    color: var(--variable-collection-primary-red-100);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    width: 100%;
    padding-top: 24.5px;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    text-align: left;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: var(--text-2-font-size, 20px);
    line-height: var(--text-2-line-height, 140%);
    font-weight: var(--text-2-font-weight, 400);
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        text-align: left;
        font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
        font-size: var(--text-2-font-size, 20px);
        line-height: var(--text-2-line-height, 140%);
        font-weight: var(--text-2-font-weight, 400);
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
}
/* reset input */
.form__field{
    &:required,&:invalid { box-shadow:none; }
}
