@import "../../variables.scss";

.content-success-popup {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

.content-popup-background {
    background: #ffffff;
    width: 100%;
    max-width: 1130px;
    height: 100%;
    max-height: 900px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border: 2px solid beige;
    border-radius: 20px;

}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;

}

.x-square {
    width: 36px;
    height: 36px;
    color: var(--variable-collection-primary-red-100);
}


.popup-content-header {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.congratulations {
    color: #000000;
    text-align: center;
    font-family: var(--heading-1-font-family, "Centrasone-Regular", sans-serif);
    font-size: 54px;
    line-height: 110%;
    font-weight: 400;
    margin-top: 20px;
}

.congratulations-content {
    color: #000000;
    text-align: center;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: var(--text-2-font-size, 20px);
    line-height: var(--text-2-line-height, 140%);
    font-weight: var(--text-2-font-weight, 400);
    position: relative;
    margin-bottom: 30px;

}

.background-image-success {
    width: 500px;
    height: 600px;
}

.frame-240 {
    flex-shrink: 0;
    height: 675.58px;
    position: relative;
    box-shadow: 5.12px 5.12px 8.54px 0px rgba(133, 45, 35, 0.25),
    -8.54px -8.54px 6.83px 0px rgba(133, 45, 35, 0.25);
}

.vector {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    overflow: visible;
    object-fit: cover;
}

.calendar-selected {
    border-radius: 10.74px;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    width: 350.22px;
    height: 62.86%;
    position: absolute;
    left: calc(50% - 175.09px);
    bottom: 18.63%;
    top: 18.51%;
}

.calendar {
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 9.53px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 347.9px;
    position: relative;
}

.month {
    padding: 7px 0 7px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 322.04px;
    position: relative;
}

.tour-info-tour {
    display: flex;
    font-family: "Montserrat", sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.close-button,
.buttons-group-tour {
    cursor: pointer;
}

.standard-tour-to-manukyan-brandy-factory {
    color: #291818;
    text-align: center;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 136%;
    font-weight: 600;
    position: relative;
}

.vector2 {
    flex-shrink: 0;
    width: 65px;
    height: 50px;
    position: absolute;
    left: calc(50% - 32.02px);
    top: 76.4px;
    overflow: visible;
}

.frame-216 {
    display: flex;
    flex-direction: column;
    gap: 14.29px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    left: calc(50% - 131.03px);
    top: 156.05px;
}

._26th-of-january-2023 {
    color: #291818;
    text-align: left;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 21px;
    line-height: 110%;
    font-weight: 600;
    position: relative;
    width: 251.94px;
}

.frame-222 {
    flex-shrink: 0;
    width: 262.07px;
    height: 45.86px;
    position: relative;
}

.group-29 {
    position: absolute;
    inset: 0;
}

.time {
    color: #291818;
    text-align: left;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 10px;
    line-height: 140%;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 13.7px);
    top: 0px;
    width: 27.4px;
}

.frame-220 {
    border-style: solid;
    border-color: #000000;
    border-width: 0 0 1px 0;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 158px;
    align-items: center;
    justify-content: center;
    width: 263px;
    position: absolute;
    left: 0;
    top: 15px;
}

._16-00 {
    color: #291818;
    text-align: left;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 21px;
    line-height: 110%;
    font-weight: 600;
    position: relative;
}

.frame-223 {
    flex-shrink: 0;
    width: 263px;
    height: 46px;
    position: relative;
}

.number-of-visitors {
    color: #291818;
    text-align: left;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 10px;
    line-height: 140%;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 61.35px);
    top: 0px;
    width: 122.7px;
}

.frame-2202 {
    border-style: solid;
    border-color: #000000;
    border-width: 0px 0px 0.6px 0px;
    padding: 4.76px 9.53px 4.76px 9.53px;
    display: flex;
    flex-direction: row;
    gap: 190px;
    align-items: center;
    justify-content: center;
    width: 262.07px;
    position: absolute;
    left: 0px;
    top: 14.89px;
}

.frame-214 {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    left: 20.85px;
    top: 182.85px;
}

.frame-208 {
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 166.18px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 229.31px;
    position: relative;
}

.total-amount {
    color: #291818;
    text-align: center;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 21px;
    line-height: 110%;
    font-weight: 600;
    position: relative;
}

.frame-207 {
    padding: 4.76px 9.53px 4.76px 9.53px;
    display: flex;
    flex-direction: row;
    gap: 166.18px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 229.31px;
    position: relative;
}

.tour-small-logo-tour {
    margin-top: 90px;
    margin-bottom: 30px;
    width: 100px;
    height: 80px;
}

.wine3 {
    position: absolute;
    right: 56.54%;
    top: 0.74%;
    transform-origin: 0 0;
    transform: rotate(-345.915deg) scale(1, 1);
    overflow: hidden;
    object-fit: cover;
    width: 200px;
}

.wine2 {
    transform: rotate(32.178deg) scale(-1, 1);
    overflow: hidden;
    width: 200px;
    object-fit: cover;
}


.popup-open {
    overflow: hidden;
}

.buttons-group-tour {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 185px;
    height: 56px;
    position: relative;
}

.button-tour {
    background: #852d23;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 185px;
    height: 56px;
    position: relative;
}

.text-container-tour {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.button-text-tour {
    color: #ffffff;
    text-align: left;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    position: relative;
}

.tour-date-tour {
    margin-bottom: 5px;
    color: #291818;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 25px;
    line-height: 110%;
    font-weight: 600;
    position: relative;
    width: 295px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tour-time-tour,
.visitor-count-tour {
    margin-bottom: 5px;
    color: #291818;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 12px;
    line-height: 110%;
    font-weight: 300;
    position: relative;
    width: 295px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tour-time-value-tour {
    margin-bottom: 5px;
    color: #291818;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 25px;
    line-height: 110%;
    font-weight: 600;
    position: relative;
    width: 295px;
    text-align: center;
    padding-top: 10px;
}

.total-amount-tour {
    margin-bottom: 5px;
    color: #291818;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 25px;
    line-height: 110%;
    font-weight: 600;
    position: relative;
    width: 295px;
    text-align: center;
    padding-top: 10px;
}

