@import "../../variables.scss";

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-61,
.frame-61 * {
    box-sizing: border-box;
}
.frame-61 {
    height: 365px;
    position: relative;
}
.rectangle-13 {
    background: #ffffff;
    border-radius: 10px;
    width: 493px;
    height: 365px;
    /*position: absolute;*/
    left: 0px;
    top: 0px;
    box-shadow: 0px 0px 10px 0px rgba(85, 85, 85, 0.5);
}
.frame-28 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 381px;
    height: 285px;
    position: absolute;
    left: calc(50% - 190.5px);
    top: calc(50% - 142.5px);
}
.welcome-to-manukyan-brandy-factory {
    color: #000000;
    text-align: center;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 140%;
    font-weight: 600;
    position: relative;
    width: 309px;
    height: 53px;
}
.frame-27 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.frame-26 {
    background: #ffffff;
    border-style: solid;
    border-color: #000000;
    border-width: 0px 0px 1px 0px;
    padding: 14px 76px 14px 76px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.please-enter-your-year-of-birth {
    color: #000000;
    text-align: center;
    font-family: var(--text-5-font-family, "Montserrat-Medium", sans-serif);
    font-size: var(--text-5-font-size, 15px);
    line-height: var(--text-5-line-height, 100%);
    font-weight: var(--text-5-font-weight, 500);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame-25 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.frame-24 {
    background: var(--primary-yellow-50percent, rgba(249, 238, 225, 0.5));
    border-radius: 4px;
    padding: 19px 20px 19px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
._2010 {
    color: var(--primary-black-50percent, rgba(41, 24, 24, 0.5));
    text-align: center;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: var(--text-2-font-size, 20px);
    line-height: var(--text-2-line-height, 140%);
    font-weight: var(--text-2-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-group {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.content-btn {
    background: var(--primary-red-100percent, #852d23);
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
