@import "../../variables";

.navBar {
  position: static;
  display: flex;
  padding: 24px 104px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  z-index: 2;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transition: background-color .3s ease, transform 150ms ease-in-out;
}

.navBarHidden {
  transform: translateY(-100%);
}

.navBar:hover {
  background-color: white;
}

.manukyan-logo {
  width: 99px;
  height: 78px;
  flex-shrink: 0;
}

.navBar ul {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;
  align-items: center;
}

.navBar li {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: $primary-black;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.navBar a {
  text-decoration: none;
  color: $primary-black;
}

.dropdownArrow {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.switchText {
  text-align: center;
  line-height: 26px;
}

.dropdownBox {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 0;
  flex-shrink: 0;
  background-color: white;
  z-index: 2;
  left: 0;
  top: 127px;
  transition: opacity .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openDropdownBox {
  opacity: 1;
  height: 471px;
  border-top: 1px solid black;
}

.dropdownWinesContainer,
.dropdownWinesContainer * {
  box-sizing: border-box;
  text-decoration: none;
}

.dropdownWinesContainer {
  display: flex;
  flex-direction: row;
  gap: 56px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 359px;
  position: relative;
}

.dropdownWine {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 270px;
  height: 360px;
  position: relative;
}

.dropdownWineImg {
  display: flex;
  flex-direction: row;
  gap: 5.72px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 269.95px;
  height: 320.29px;
  position: relative;
  object-fit: cover;
}

.dropdownWineTitle {
  color: $primary-black;
  text-align: left;
  font-family: CENTRASONE, sans-serif;
  font-size: 42px;
  line-height: 110%;
  font-weight: 400;
  position: relative;
}

.dropdownFactory,
.dropdownFactory * {
  box-sizing: border-box;
  text-decoration: none;
}

.dropdownFactory {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 359px;
  position: relative;
}

.dropdownFactoryItem {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 260px;
  height: 359px;
  transition: transform .3s ease;
  position: relative;
}

.dropdownFactoryItem:hover {
  transform: scale(1.1);
}

.dropdownFactoryImg {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 5.72px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 259px;
  height: 250px;
  position: relative;
  object-fit: cover;
}

.factoryDropdownItemTitle {
  color: $primary-black;
  text-align: center;
  font-family: CENTRASONE, sans-serif;
  font-size: 42px;
  line-height: 110%;
  font-weight: 400;
  position: relative;
}

/* CSS for Responsive Mobile */

/* Styles for screens smaller than 768px */
@media (max-width: 768px) {
  .navBar {
    padding: 16px 24px;
  }

  .manukyan-logo {
    width: 80px;
    height: 64px;
  }

  .navBar ul {
    gap: 16px;
  }

  .navBar li {
    padding: 8px 4px;
    font-size: 14px;
  }

  .dropdownBox {
    top: 96px;
  }

  .dropdownWinesContainer {
    flex-direction: column;
    gap: 24px;
    height: auto;
  }

  .dropdownWine {
    width: 100%;
    height: auto;
  }

  .dropdownWineImg {
    width: 100%;
    height: auto;
  }

  .dropdownWineTitle {
    font-size: 32px;
  }

  .dropdownFactory {
    flex-direction: column;
    gap: 16px;
    height: auto;
  }

  .dropdownFactoryItem {
    width: 100%;
    height: auto;
  }

  .dropdownFactoryImg {
    width: 100%;
    height: auto;
  }

  .factoryDropdownItemTitle {
    font-size: 32px;
  }

  .menu {
    display: none;
  }

  @media (max-width: 768px) {

    .hamburger {
      display: block;
    }

    .menu {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }

  }

  .menu {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .menuOpen {
    transform: translateX(0);
  }

}
