@import "../../variables";

.eventHeading {
  color: $primary-black;
  text-align: center;
  font-family: CENTRASONE;
  font-size: 54px;
  line-height: 110%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  margin: 44px auto 50px;
}

.eventsListWrapper {
  display: flex;
  flex-direction: column;
  gap: 102px;
  padding-inline: 100px;
  margin-bottom: 96px;

  @media (max-width: 768px) {
    padding-inline: 25px 100px;
  }

}

.controlsSectionContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  padding-inline: 100px;

  @media (max-width: 768px) {
    padding-inline: 25px 25px;
  }
}

.controlsButtonsGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.pastUpcomingGroup {
  display: flex;
  align-items: center;
  gap: 32px;
  .past, .upcoming {
    color: $primary-black;
    text-align: left;
    font-family: Montserrat;
    color: #000;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
    cursor: pointer;
  }
}

.eventsViewSelector {
  display: flex;
  align-items: center;
  gap: 32px;
}

.viewSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  color: $secindary-black;
  border: $secindary-black 2px solid;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 20px;
  line-height: 140%;
  font-family: Montserrat;
  font-weight: 400;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

.viewSelectorActive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: $primary-red;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 20px;
  line-height: 140%;
  font-family: Montserrat;
  border: $primary-red 2px solid;
  font-weight: 400;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

.monthTitle {
  color: $primary-black;
  width: 100%;
  color: #000;
  margin-top: 24px;
  text-align: left;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 110%;
  font-weight: 600;
}

.pastUpcomingBottomGroup {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 140%;
  font-weight: 600;
  padding-inline: 100px;
  color: #000;
  margin-bottom: 140px;
  width: 100%;

  @media (max-width: 768px) {
    padding-inline: 25px 100px;
  }

  div {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    margin-top: 285px;
  }
}