@import '../../variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.visitorsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.staticsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 20px 0;
  width: 100%;
}