@import "../../variables";

.eventPreviewContainer {
  align-items: center;
  justify-content: center;
  gap: 102px;
  position: relative;
  width: 100%;
  padding-top: 102px;

  &::before {
    content: "";
    width: 100%;
    height: 15px;
    background: url("../../assets/Line\ 2.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
  }
}

.horizontalDevider {
  width: 100%;
}

.wrapper {
  position: relative;
  padding-top: 34.5%;
  width: 100%;
}

.contentWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 21px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.contentContainer {
  width: 59%;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  display: flex;
}

.titleDateContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.title {
  font-family: CENTRASONE;
  font-size: 42px;
  font-weight: 400;
  line-height: 110%;
  color: $primary-red;
}

.dateAndTimeContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.date {
  color: $primary-black;
  text-align: left;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 110%;
  font-weight: 600;
}

.time {
  color: $primary-black;
  text-align: left;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

.description {
  color: $primary-black;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.contentButton {
  display: flex;
  height: 56px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: $primary-red;
  cursor: pointer;
}

.buttonText {
  color: white;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
  letter-spacing: 0.5px;
}

.image {
  display: block;
  height: 100%;
  width: 40%;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .eventPreviewContainer {
    gap: 48px;
    padding-top: 50px;
  }

  .contentWrapper {
    gap: 21px;
    flex-direction: column;

  }

  .contentContainer {
    width: 100%;
    height: auto;
  }

  .titleDateContainer {
    gap: 16px;
  }

  .title {
    font-size: 36px;
  }

  .date {
    font-size: 24px;
  }

  .time {
    font-size: 16px;
  }

  .description {
    font-size: 16px;
  }

  .image {
    width: 100%;
  }

  .pastUpcomingBottomGroup {
    margin-top: 285px;
  }
}