/* EventDetailImagePopupComponent.module.css */
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.popupInner {
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}
