@import "../../variables";

.container {
  display: flex;
  flex-direction: column;
}

.mediaContainer {
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: 100%;
  height: calc(100vh - 128px);
  overflow: hidden;
  margin-bottom: 96px;
  div:first-child {
    width: 60%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  div:not(:first-child) {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 40%;
    img {
      width: 100%;
      height: 50%;
      object-fit: cover;
    }
  }
}

.eventContentContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 100px;
  margin-bottom: 96px;
  .title {
    text-align: left;
    color: $primary-red;
    font-family: CENTRASONE;
    font-size: 54px;
    line-height: 110%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    margin: 50px 0;
  }
  .dateAndTimeContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .date {
      color: $primary-black;
      text-align: left;
      font-family: Montserrat;
      font-size: 36px;
      line-height: 110%;
      font-weight: 600;
    }
    .time {
      color: $primary-black;
      text-align: left;
      font-family: Montserrat;
      font-size: 18px;
      line-height: 100%;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  .location {
    color: $primary-black;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 149%;
    font-weight: 400;
    .venue {
      color: $primary-black;
      text-align: left;
      font-family: Montserrat;
      font-size: 36px;
      line-height: 110%;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .locTitle {
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      margin-bottom: 16px;
    }
  }
  .description {
    color: $primary-black;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
  }
}

/* Define styles for the container */
.mediaContainer {
  position: relative;
}

/* Define styles for the overlay */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px; /* Add padding to give some space from the edges */
  box-sizing: border-box; /* Ensure padding is included in the width */
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: flex-end;
}

/* Define styles for the button */
.popupButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

.mediaContainer {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
