@import "../../variables.scss";

* {
    box-sizing: border-box;
}

.booking-container * {
    box-sizing: border-box;
}

.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 56px 15px;
    margin: 0 auto;
    gap: 40px;
    max-width: 1304px;
    width: 100%;

    .booking-heading {
        color: $primary-red;
        font-family:CENTRASONE;
        font-size: 54px;
        line-height: 110%;
        font-weight: 600;
        position: relative;
        text-align: center;
    }

    .header {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 40px;
        left: 12px;
        width: 100%;
        h2 {
            color: $primary-black;
            text-align: center;
            font-family: CENTRASONE;
            font-size: 54px;
            line-height: 110%;
            font-weight: 400;
            align-self: stretch;
        }
        .header-text {
            color: #000000;
            text-align: center;
            font-family: Montserrat;
            font-size: 18px;
            line-height: 140%;
            font-weight: 400;
            width: 100%;
            max-width: 1000px;
        }
    }

    .booking-main-content {
        color: #000000;
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        line-height: 140%;
        font-weight: 400;
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
    }

    .packages {
        display: inline-block;
        align-content: center;
        position: relative;
        width: 100%;
    }

    .packages::before {
        content: "";
        width: 100%;
        height: 15px;
        background: url("../../assets/Line\ 2.png") no-repeat;
        background-size: 100%;
        position: absolute;

    }

    .frame-203 {
        display: flex;
        flex-direction: column;
        gap: 102px;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
    }

    .frame-210 {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;
        justify-content: flex-start;
        width: 563.69px;
        height: 223.24px;
        position: absolute;
        left: 369.8px;
        top: 120.09px;
    }


    .fill-the-form-to-book-a-tour-to-manukyan-brandy-factory {
        color: #000000;
        text-align: left;
        font-family: Montserrat;
        font-size: var(--text-2-font-size, 20px);
        line-height: var(--text-2-line-height, 140%);
        font-weight: var(--text-2-font-weight, 400);
        position: relative;
    }

    .step {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 206px;
        height: 63px;
        position: relative;
    }

    .row {
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: center;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        height: 24px;
        position: relative;
    }

    .col-1 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        height: 16px;
        position: relative;
    }

    .item {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0%;
        left: 0%;
        bottom: 0%;
        top: 0%;
    }

    .col-3 {
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        height: 16px;
        position: relative;
    }

    .rectangle-3 {
        background: $secondary-red;
        flex: 1;
        height: 2px;
        position: relative;
        transform-origin: 0 0;
        transform: rotate(0deg) scale(-1, 1);
    }

    .current2 {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0%;
        left: 0%;
        bottom: 0%;
        top: 0%;
        overflow: visible;
    }


    .frame-200 {
        display: flex;
        flex-direction: column;
        gap: 102px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        height: auto;
        position: relative;
        overflow: visible;
    }


    .package {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: absolute;

    }

    .frame-209 {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

    .standard-packages {
        color: $primary-red;
        font-family: Montserrat;
        font-size: 36px;
        line-height: 110%;
        font-weight: 600;
        position: relative;
        text-align: center;
        max-width: 650px;

    }

    .main_container {
        max-width: 1304px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .packages-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .packages-section .left-grape, .packages-section .right-grape {
        width: 100%;
        height: 100%;
        max-width: 218px;
        max-height: 250px;
        margin: 0 auto;
    }

    .packages-section .left-grape img, .packages-section .right-grape img {
        width: 100%;
        height: 100%;
    }

    .pack {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 100px;
    }

    .standard-packages-content {
        color: #000000;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        line-height: 140%;
        font-weight: 400;
        position: relative;
        padding-bottom: 40px;
        max-width: 500px;
    }

    .indicator {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        position: relative;
    }

    .current {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0%;
        left: 0%;
        bottom: 0%;
        top: 0%;
        overflow: visible;
    }

    .progress-line {
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: flex-start;
        justify-content: flex-start;
        flex: 1;
        position: relative;
        transform-origin: 0 0;
        transform: rotate(0deg) scale(-1, 1);
    }

    .placeholder {
        padding: 8px 16px 8px 16px;
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        position: relative;
    }

    .placeholder2 {
        color: $primary-black;
        text-align: center;
        font-family: var(--text-5-font-family, "Montserrat-Medium", sans-serif);
        font-size: var(--text-5-font-size, 15px);
        line-height: var(--text-5-line-height, 100%);
        font-weight: var(--text-5-font-weight, 500);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .row2 {
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex-shrink: 0;
        height: 27px;
        position: relative;
    }

    .col-12 {
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        height: 2px;
        position: relative;
    }

    .left-wine {
        width: 218px;
        height: 250px;
        transform-origin: 0 0;
        transform: scale(-1, 1);
        overflow: hidden;
        object-fit: cover;
        position: absolute;
        margin-right: 400px;
    }

    .right-wine {
        width: 218px;
        height: 250px;
        transform-origin: 0 0;
        transform: scale(-1, 1);
        overflow: hidden;
        object-fit: cover;
        position: absolute;
        margin-left: 1400px;
    }


    .booking-calendar-filed {
        display: flex;
        flex-direction: row;
        gap: 122px;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        padding-bottom: 50px;
    }


    .booking-form {
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

    .frame-213 {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
        width: 100%;
        max-width: 385px;
    }

    .frame-176 {
        border-style: solid;
        border-color: $primary-black;
        border-width: 0px 0px 1px 0px;
        padding: 8px 16px 8px 16px;
        display: flex;
        flex-direction: row;
        gap: 96px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        width: 100%;
        position: relative;
    }

    ._26th-of-january-2023 {
        color: $primary-black;
        text-align: left;
        font-family: Montserrat;
        font-size: var(--text-1-font-size, 24px);
        line-height: var(--text-1-line-height, 150%);
        font-weight: var(--text-1-font-weight, 600);
        position: relative;
        width: 272px;
    }

    .frame-204 {
        border-style: solid;
        border-color: $primary-black;
        border-width: 0px 0px 1px 0px;
        padding: 8px 16px 8px 16px;
        display: flex;
        flex-direction: row;
        gap: 279px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        width: 385px;
        position: relative;
    }

    .time {
        color: $primary-black;
        text-align: left;
        font-family: Montserrat;
        font-size: var(--text-2-font-size, 20px);
        line-height: var(--text-2-line-height, 140%);
        font-weight: var(--text-2-font-weight, 400);
        position: relative;
    }

    .down-arrow {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        position: relative;
        overflow: visible;
    }

    .frame-205 {
        display: flex;
    }

    .pack2 {
        display: flex;
    }

    .number-of-visitors {
        color: $primary-black;
        text-align: left;
        font-family: Montserrat;
        font-size: var(--text-2-font-size, 20px);
        line-height: var(--text-2-line-height, 140%);
        font-weight: var(--text-2-font-weight, 400);
        position: relative;
    }

    .arrow-down2 {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        position: relative;
        overflow: visible;
    }

    .frame-206 {
        position: relative;
    }

    .tour-language {
        color: $primary-black;
        text-align: left;
        font-family: Montserrat;
        font-size: var(--text-2-font-size, 20px);
        line-height: var(--text-2-line-height, 140%);
        font-weight: var(--text-2-font-weight, 400);
        position: relative;
    }

    .icon-jam-icons-outline-logos-chevron-down3 {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        position: relative;
        overflow: visible;
    }

    .frame-2162 {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        height: 184px;
        position: relative;
    }

    .frame-214 {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
    }

    .frame-208 {
        padding: 8px 16px 8px 16px;
        display: flex;
        flex-direction: row;
        gap: 279px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        width: 385px;
        position: relative;
    }

    .total-amount {
        color: $primary-black;
        text-align: center;
        font-family: Montserrat;
        font-size: var(--text-1-font-size, 24px);
        line-height: var(--text-1-line-height, 150%);
        font-weight: var(--text-1-font-weight, 600);
        position: relative;
    }

    .frame-207 {
        padding: 8px 16px 8px 16px;
        display: flex;
        flex-direction: row;
        gap: 279px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        width: 385px;
        position: relative;
    }

    ._0-amd {
        color: #291818;
        text-align: left;
        font-family: Montserrat;
        font-size: var(--text-1-font-size, 24px);
        line-height: var(--text-1-line-height, 150%);
        font-weight: var(--text-1-font-weight, 600);
        position: relative;
    }

    .buttons-group {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        width: 185px;
        height: 56px;
        position: relative;
    }

    .button {
        background: $primary-red;
        border-radius: 4px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 185px;
        height: 56px;
        position: relative;
    }

    .text-container {
        padding: 0px 16px 0px 16px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        position: relative;
        cursor: pointer;
    }

    .button-text {
        color: #ffffff;
        text-align: left;
        font-family: Montserrat;
        font-size: 20px;
        line-height: 100%;
        font-weight: 600;
        position: relative;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    /* Style for dropdown select */
    .dropdown select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0;
        padding: 8px 32px 8px 12px;
        background-color: transparent;
        cursor: pointer;
        width: 100%;
        font-family: Montserrat;
        font-size: 20px;
        line-height: 1.5;
        color: #000;
    }

    .w-100 {
        width: 100%;
    }

    .dropdown select:focus {
        border-color: black;
        /* Add black color on focus */
        border-color: transparent;
        /* Remove border on focus */
        outline: none;
        /* Remove outline on focus */
    }



    /* Style for dropdown arrow */
    .dropdown svg {
        position: absolute;
        /* Position the arrow */
        top: 50%;
        /* Align vertically */
        right: 10px;
        /* Adjust right spacing */
        transform: translateY(-50%);
        /* Adjust vertical alignment */
        fill: #000;
        /* Set arrow color */
    }

    /* Style for dropdown options */
    .dropdown option {
        background-color: #fff;
        /* Set background color */
        color: #000;
        /* Set text color */
    }

    /* Hover style for dropdown */
    .dropdown:hover select {
        border-color: #999;
        /* Change border color on hover */
    }

    .tour-day {
        background-color: #333333;
        /* Dark grey color */
        color: #ffffff;
        /* Text color */
    }

    .marked-date-indicator {
        width: 0;
        height: 100%;
        border-top: 15px solid $primary-red;
        border-left: 15px solid transparent;
    }

    .popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        border-radius: 5px;
        border-top: 15px solid $primary-red;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        z-index: 999999;
    }

    .popup-content {
        max-width: 400px;
        /* Adjust as needed */
    }

    .popup-content h2 {
        color: $primary-red;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .popup-content {
        color: $primary-red;
    }

    .popup-content p {
        margin: 0;
    }

    .popup-content .highlight {
        color: black;
    }

}

@media only screen and (max-width: 992px) {
    .booking-container .booking-calendar-filed {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .booking-container .frame-2162 {
        align-items: center;
        justify-content: center;
    }

    .booking-container .frame-207 {
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 576px) {
    .booking-container .packages-section .left-grape, .booking-container .packages-section .right-grape {
        display: none;
    }

    .booking-container .header h2, .booking-container .standard-packages {
        font-size: 32px;
    }
}