
/* Style for the container holding the calendar */
.react-calendar-selected {
    background: #ffffff;
    border-radius: 18px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for the calendar */
.react-calendar {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    border-color: rgba(133, 45, 35, 0.25);
    border-width: 3px;
    border-radius: 18.03px;
    border-style: solid;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    max-width: 588px;
    height: 600px;
}

/* Style for the month */
.react-calendar-month {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 540.69px;
    position: relative;
}

/* Style for the previous and next month buttons */
.react-calendar-prev,
.react-calendar-next {
    flex-shrink: 0;
    width: 36.06px;
    height: 36.06px;
    position: relative;
    overflow: visible;
}

/* Style for the month label */
.react-calendar-month-label {
    color: #291818;
    text-align: left;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}

/* Style for the weekdays container */
.react-calendar-weekday {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 540.69px;
    position: relative;
}

/* Style for individual day */
.react-calendar-day {
    background: #ffffff;
    padding: 23px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 75.23px;
    position: relative;
}

/* Style for the weekday label */
.react-calendar-weekday-label {
    color: #291818;
    text-align: left;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}

/* Style for the date container */
.react-calendar-week {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 540.69px;
    height: 75.23px;
    position: relative;
}

/* Style for the day with a number */
.react-calendar-date {
    color: rgba(133, 45, 35, 0.25);
    text-align: left;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}

/* Style for the day with a number and another style */
.react-calendar-date2 {
    color: #291818;
    text-align: left;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}

/* Style for the highlighted day */
.react-calendar-highlighted {
    background: #852d23;
    border-radius: 18.81px;
    padding: 23px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
}

/* Style for the number of the highlighted day */
.react-calendar-highlighted-date {
    color: #ffffff;
    text-align: left;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}

.react-calendar__navigation {
    display: flex;
    height: 100px;
    margin-bottom: 1em;
    width: 100%;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}

.react-calendar__navigation__prev2-button {
    display: none;
}

.react-calendar__navigation__next2-button {
    display: none;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
    font-size: 36px; /* Adjust the font size as needed */
    width: auto; /* Set width to auto to adjust based on content */
    height: auto; /* Set height to auto to adjust based on content */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
    font-size: 36px; /* Adjust the font size as needed */
    width: auto; /* Set width to auto to adjust based on content */
    height: auto; /* Set height to auto to adjust based on content */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
    font-size: 24px; /* Adjust the font size as needed */
}
.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
    color: rgba(133, 45, 35, 0.25); /* Change color as needed */
    font-family: "Montserrat-SemiBold", sans-serif; /* Change font family as needed */
    font-size: 24px; /* Change font size as needed */
    line-height: 150%; /* Change line height as needed */
    font-weight: 600; /* Change font weight as needed */
}
.react-calendar__month-view__days__day {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.react-calendar__month-view__weekdays__weekday {
    color: #291818;
    text-align: left;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    width: 2ch;
}

.react-calendar__month-view__weekdays__weekday {
    width: 2ch; /* Set width to fit two characters */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Hide the third character with an ellipsis */
    white-space: nowrap; /* Prevent wrapping */
}

.react-calendar__month-view__weekdays__weekday abbr::after {
    content: '';
}

.react-calendar__month-view__weekdays__weekday abbr::before {
    display: none;
}

.react-calendar__month-view__weekdays__weekday abbr::first-letter {
    display: none;
}

.react-calendar__tile--active {
    color: white;
    background-color: #852d23;
    border-radius: 18px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background-color: #852d23; /* Change to your preferred color */
}

/* Disable pointer events for weekends */
.react-calendar__month-view__weekdays__weekday:nth-child(6),
.react-calendar__month-view__weekdays__weekday:nth-child(7),
.react-calendar__tile--weekend {
    pointer-events: none;
}

/* Disable hover effect for weekends */
.react-calendar__tile--weekend:hover {
    background-color: transparent !important;
}

.react-calendar__tile--now.react-calendar__month-view__days__day {
    color: white;
    border-radius: 18px;
    background-color: #a7a4a4;
    border: 5px solid white;
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
    color: white;
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
    pointer-events: none !important;
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
    pointer-events: none !important;
}

@media only screen and (max-width: 576px) {
    .react-calendar {
        max-width: 400px;
        height: 100%;
    }
}
