@import "../../variables";

.homeContentSliderSection {
  position: relative;
  width: 100%;
  padding-top: 52.62%;
}

.homeContentSliderWrapper {
  position: absolute;
  display: flex;
  gap: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @media (max-width: 768px) {
    gap: 20px;
  }
}

.imageSlider {
  width: 50%;
  height: 100%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.sliderImage {
  width: inherit;
}

.contentContainer,
.contentContainerRight {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 40px;

  @media (max-width: 768px) {
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.contentContainer {
  padding-right: 105px;
  width: 100%;
}

.contentContainerRight {
  padding-left: 105px;
  width: 100%;
}

.contentWrapper {
  display: flex;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;

  @media (max-width: 768px) {
    gap: 32px;
  }
}

.contentSectionMenuTitle {
  text-align: left;
  width: 100%;
  color: $primary-black;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.contentTitle h1,
.contentTitle h2,
.contentTitle h3,
.contentTitle h4,
.contentTitle h5,
.contentTitle h6 {
  color: $primary-black;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 48px;

  @media (max-width: 768px) {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

.contentTitle div, .contentTitle p {
  color: $primary-black;
  margin-top: 0;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.contentButton {
  display: flex;
  height: 56px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: $primary-red;
  cursor: pointer;

  @media (max-width: 768px) {
    height: 48px;
    padding: 12px;
  }
}

.buttonText {
  color: white;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
  letter-spacing: 0.5px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}
