@import "../../variables.scss";

.wine-dropdown {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 30px;
    flex-wrap: wrap;
}
.product-list-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 56px;
}

.product_list_main_container {
    max-width: 1346px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.frame-176,
.frame-177,
.frame-178 {
    border-style: solid;
    border-color: #291818;
    border-width: 0px 0px 1px 0px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 230px;
    position: relative;
}

.frame-176 select,
.frame-177 select,
.frame-178 select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 230px;
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    font-family: Montserrat;
    text-transform: uppercase;
}
.frame-176 select option,
.frame-177 select option,
.frame-178 select option {
    border: none; /* Remove border */
}

/* Customize hover effect for dropdown options */
.frame-176 select option:hover,
.frame-177 select option:hover,
.frame-178 select option:hover {
    background-color: lightblue; /* Change to desired hover background color */
}

.wines,
.name,
.type {
    color: var(--primary-black-100percent, #291818);
    text-align: left;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: var(--text-2-font-size, 20px);
    line-height: var(--text-2-line-height, 140%);
    font-weight: var(--text-2-font-weight, 400);
    position: relative;
    padding: 0 10px;
}

.frame-59 {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    gap: 66px 90px;
    justify-content: flex-start;
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    max-width: 1500px;
}

.frame-55 {
    display: flex;
    flex-direction: row;
    gap: 112px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-41 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-41 p {
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
}

.frame-25 {
    border-style: solid;
    border-color: #000000;
    border-width: 0px 0px 2px 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    /*flex-direction: row;*/
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.all-wines {
    color: #000000;
    text-align: left;
    font-family: var(--text-1-font-family, "Montserrat-SemiBold", sans-serif);
    font-size: var(--text-1-font-size, 24px);
    line-height: var(--text-1-line-height, 150%);
    font-weight: var(--text-1-font-weight, 600);
    position: relative;
}

.frame-26,
.frame-27 {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.anamor,
.holani {
    color: #000000;
    text-align: left;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: var(--text-2-font-size, 20px);
    line-height: var(--text-2-line-height, 140%);
    font-weight: var(--text-2-font-weight, 400);
    position: relative;
}

.frame-54,
.frame-56,
.frame-57 {
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-51 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.product-image-flex {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;

}

.product-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.product-details .brand,
.product-details .product-type,
.product-details .product-date {
    margin-right: 10px; /* Adjust as needed */
    font-family: Montserrat;
    font-size: 20px;
}

.rectangle-15,
.rectangle-152,
.rectangle-16,
.rectangle-153,
.rectangle-162,
.rectangle-154,
.rectangle-163 {
    border-radius: 4px;
    flex-shrink: 0;
    width: 351px;
    height: 350px;
    position: relative;
    object-fit: cover;
}

.holani-white-dry-2021,
.holani-red-dry-2021,
.holani-rose-dry-2021 {
    color: #000000;
    text-align: left;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: var(--text-2-font-size, 20px);
    line-height: var(--text-2-line-height, 140%);
    font-weight: var(--text-2-font-weight, 400);
    position: relative;
}




.icon-jam-icons-outline-logos-chevron-left,
.icon-jam-icons-outline-logos-chevron-right {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.text-container,
.text-container2 {
    padding: 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.page {
    color: var(--primary-black-100percent, #291818);
    text-align: left;
    font-family: var(--button-m-font-family, "Roboto-Medium", sans-serif);
    font-size: var(--button-m-font-size, 16px);
    line-height: var(--button-m-line-height, 100%);
    font-weight: var(--button-m-font-weight, 500);
    position: relative;
}


.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 56px 30px;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1000px;
}
.gallery-item {
    margin-bottom: 20px; /* Adjust the margin between items */
    box-sizing: border-box;
    width: 100%;
    max-width: 313px;
}

.product-image {
    width: 100%;
    height: auto;
    max-width: 450px;
    padding: 20px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    margin: 0 auto;
    gap: 5px;
    margin: 66px 0 116px;
}

.pagination .left-button {
    background-image: url("../../assets/chevron-left.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    background-size: 24px;
    background-color: transparent;
    border: none;
}

.pagination .right-button {
    background-image: url("../../assets/chevron-right.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    background-size: 24px;
    background-color: transparent;
    border: none;
}

.pagination2 {
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 40px;
    position: relative;
}

.icon-jam-icons-outline-logos-chevron-left,
.icon-jam-icons-outline-logos-chevron-right {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.text-container {
    padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.page {
    color: var(--primary-black-100percent, #291818);
    text-align: left;
    font-family: var(--button-m-font-family, "Roboto-Medium", sans-serif);
    font-size: var(--button-m-font-size, 16px);
    line-height: var(--button-m-line-height, 100%);
    font-weight: var(--button-m-font-weight, 500);
    position: relative;
}

.pagination3 {
    background: var(--primary-red-25percent, rgba(133, 45, 35, 0.25));
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 40px;
    position: relative;
}

.text-container2 {
    padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 10px; /* Adjust the gap as needed */
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.pagination .numbers-button {
    padding: 8px 16px;
    background-color: transparent;
    color: #291818;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-family: Roboto;
    font-size: 16px;
}

.pagination .numbers-button.active {
    background-color: #e0cbc8;
}

.pagination button:hover {
    background-color: #e0cbc8;
}

.pagination button:disabled {
    cursor: not-allowed;
}

@media only screen and (max-width: 576px) {
    .wine-dropdown {
        gap: 10px;
    }

    .frame-59 {
        grid-template-columns: 1fr;
    }

    .frame-41 {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .gallery-container {
        align-items: center;
        max-width: 100%;
        justify-content: center;
    }

    .product-details .brand, .product-details .product-type,
    .product-details .product-date, .all-wines, .frame-41 p,
    .frame-176 select, .frame-177 select, .frame-178 select {
        font-size: 16px;
    }
}