
.frame-202 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

main_container {
    max-width: 1304px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.frame-200 {
    display: flex;
    flex-direction: column;
    gap: 102px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.frame-198 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    margin: 112px 0;
}

.frame-198::after {
    content: "";
    position: absolute;
    bottom: -13%;
    left: 0;
    right: 0;
    width: 100%;
    height: 11px;
    background: url("../../assets/Line\ 2.png") no-repeat;
    background-size: cover;
}

.frame-198:last-child::after {
    background: none;
}

.frame-195 {
    width: 100%;
    max-width: 733px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    padding-top: 32px;
}
.frame-194 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.frame-193 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    max-width: 1000px;
}
.standard-package {
    color: var(--primary-red-100percent, #852d23);
    text-align: left;
    font-family: Montserrat;
    font-size: 36px;
    line-height: var(--heading-3-line-height, 110%);
    font-weight: var(--heading-3-font-weight, 600);
    position: relative;
}
.frame-192 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    margin-top: 24px;
}
.amd-5-000 {
    color: var(--primary-black-100percent, #291818);
    text-align: left;
    font-family: Montserrat;
    font-size: 36px;
    line-height: var(--heading-3-line-height, 110%);
    font-weight: var(--heading-3-font-weight, 600);
    position: relative;
}
.cost-for-1-visitor {
    color: #000000;
    text-align: left;
    font-family: var(--heading-4-font-family, "Montserrat-Regular", sans-serif);
    font-size: var(--heading-4-font-size, 18px);
    line-height: var(--heading-4-line-height, 100%);
    font-weight: var(--heading-4-font-weight, 400);
    text-transform: uppercase;
    position: relative;
}
.embark-on-a-sensory-journey-through-the-rich-heritage-of-armenian-brandy-with-a-captivating-tour-of-the-manukyan-brandy-factory-nestled-in-the-heart-of-armenia-this-iconic-distillery-invites-you-to-discover-the-secrets-behind-its-renowned-spirits {
    color: #000000;
    text-align: left;
    font-family: var(--text-2-font-family, "Montserrat-Regular", sans-serif);
    font-size: var(--text-2-font-size, 20px);
    line-height: var(--text-2-line-height, 140%);
    font-weight: var(--text-2-font-weight, 400);
    position: relative;
    width: 773px;
}

.text-container {
    padding: 16px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.button-text {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    position: relative;
}
.rectangle-20 {
    width: 100%;
    height: 100%;
    max-width: 507px;
    max-height: 450px;
    object-fit: cover;
    border-radius: 8px;
}

.line-2 {
    flex-shrink: 0;
    height: 0;
    position: relative;
    overflow: visible;
}
.frame-197 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
}
.premium-package {
    color: var(--primary-red-100percent, #852d23);
    text-align: left;
    font-family: var(--heading-3-font-family, "Montserrat-SemiBold", sans-serif);
    font-size: var(--heading-3-font-size, 36px);
    line-height: var(--heading-3-line-height, 110%);
    font-weight: var(--heading-3-font-weight, 600);
    position: relative;
}
.amd-10-000 {
    color: var(--primary-black-100percent, #291818);
    text-align: left;
    font-family: var(--heading-3-font-family, "Montserrat-SemiBold", sans-serif);
    font-size: var(--heading-3-font-size, 36px);
    line-height: var(--heading-3-line-height, 110%);
    font-weight: var(--heading-3-font-weight, 600);
    position: relative;
}
.line-22 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.frame-201 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
}
.vip-package {
    color: var(--primary-red-100percent, #852d23);
    text-align: left;
    font-family: var(--heading-3-font-family, "Montserrat-SemiBold", sans-serif);
    font-size: var(--heading-3-font-size, 36px);
    line-height: var(--heading-3-line-height, 110%);
    font-weight: var(--heading-3-font-weight, 600);
    position: relative;
}
.amd-15-000 {
    color: var(--primary-black-100percent, #291818);
    text-align: left;
    font-family: var(--heading-3-font-family, "Montserrat-SemiBold", sans-serif);
    font-size: var(--heading-3-font-size, 36px);
    line-height: var(--heading-3-line-height, 110%);
    font-weight: var(--heading-3-font-weight, 600);
    position: relative;
}
.section-heading,
.section-heading * {
    box-sizing: border-box;
}
.section-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.secondary-headline {
    color: var(--primary-black-100percent, #291818);
    text-align: center;
    font-family:CENTRASONE;
    font-size: 54px;
    line-height: var(--heading-1-line-height, 110%);
    font-weight: var(--heading-1-font-weight, 400);
    position: relative;
    align-self: stretch;
    margin: 50px 10px 0;
}

.tour-details {
    margin-top: 10px;
}

.tour-detail {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}
/* CSS for Pagination Buttons */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 0;
}

.pagination-text {
    cursor: pointer;
    color: black;
    margin: 0 10px; /* Adjust the margin as needed */
}

.pagination-text:hover {
    text-decoration: underline;
}

.pagination-text:disabled {
    color: gray;
    cursor: not-allowed;
}


.pagination-container .left-button {
    background-image: url("../../assets/chevron-left.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    background-size: 24px;
    background-color: transparent;
    border: none;
}

.pagination-container .right-button {
    background-image: url("../../assets/chevron-right.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    background-size: 24px;
    background-color: transparent;
    border: none;
}

.pagination-container span:hover {
    background-color: #e0cbc8;
}



@media only screen and (max-width: 768px) {
    .frame-198 {
        flex-direction: column;
        gap: 30px;
    }

    .frame-198::after {
        bottom: -9%;
        background-size: contain;
    }
}