@import "../../variables";

.footer {
  margin-top: auto;
  display: flex;
  width: 100%;
  height: 25.625rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: $primary-red;
  color: white;
  flex-shrink: 0;
  z-index: 1;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footerSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 25.625rem;
  justify-content: center;
  padding: 2rem 5rem;
  position: relative;
  gap: 1.5rem;
  align-self: stretch;
  overflow: hidden;
}

.footerContentWrapper {
  border-top: 1px solid $primary-yellow;
  border-bottom: 1px solid $primary-yellow;
  padding: 3rem 0;
  height: 18.75rem;
  display: flex;
  width: 84.5rem;
  justify-content: center;
}

.footerContent {
  display: flex;
  width: 75rem;
  align-items: flex-start;
  justify-content: center;
  gap: 4.5rem;
}


.firstCol {
  display: flex;
  width: 13.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex-shrink: 0;
}

.secondCol {
  display: flex;
  width: 13.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex-shrink: 0;
}

.colItem {
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.thirdCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.thirdColItem {
  color: white;
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: left;
}

.forthCol {
  display: flex;
  width: 11.5rem;
  align-items: center;
  gap: 1rem;
}

.forthColItem {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.footerCopyright {
  color: white;
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  width: 100%;
  text-align: center;
}



@media only screen and (max-width: 992px) {
  .footerContent {
    flex-direction: column;
    gap: 2.5rem;
  }


  .footer, .footerSection, .footer_footer__IC5WT {
    height: 100%;
  }

  .footerContentWrapper {
    width: 100%;
    height: 100%;
  }
}

