/* Default styles */
.general-info-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    height: auto; /* Adjusted to 'auto' for responsiveness */
    position: relative;
}

.rectangle-12 {
    background: var(--primary-yellow-50percent, rgba(249, 238, 225, 0.5));
    flex-shrink: 0;
    width: 100%; /* Adjusted to '100%' for responsiveness */
    height: auto; /* Adjusted to 'auto' for responsiveness */
    position: relative;
}

.vineyard-map-picture {
    flex-shrink: 0;
    width: 100%; /* Adjusted to '100%' for responsiveness */
    max-width: 1260px; /* Added max-width to prevent overflow */
    height: auto; /* Adjusted to 'auto' for responsiveness */
    position: relative; /* Changed to 'relative' for better positioning */
    margin: 0 auto; /* Center the image horizontally */
    object-fit: cover;
}

.terroir-text {
    color: var(--primary-black-100percent, #291818);
    text-align: center; /* Changed to 'center' for better alignment */
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 18px;
    line-height: 184%;
    font-weight: 400;
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 365px; /* Added max-width to prevent overflow */
    margin: 0 auto; /* Center the text horizontally */
    padding: 0 20px; /* Added padding for better spacing */
}

.general-info-section2 {
    flex-shrink: 0;
    width: 100%; /* Adjusted to '100%' for responsiveness */
    max-width: 1304px; /* Added max-width to prevent overflow */
    height: auto; /* Adjusted to 'auto' for responsiveness */
    position: static;
}

.paragraph {
    color: var(--primary-black-100percent, #291818);
    text-align: center;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 18px;
    line-height: 184%;
    font-weight: 400;
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 902px; /* Added max-width to prevent overflow */
    margin: 0 auto; /* Center the text horizontally */
    padding: 0 20px; /* Added padding for better spacing */
}

.wines-grape-150-x-150-png,
.wines-grape-150-x-150-png2 {
    width: 30%; /* Adjusted width for responsiveness */
    max-width: 162px; /* Added max-width to prevent overflow */
    height: auto; /* Adjusted to 'auto' for responsiveness */
    position: relative; /* Changed to 'relative' for better positioning */
    margin: 0 auto; /* Center the image horizontally */
    object-fit: cover;
}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
    .general-info-section {
        flex-direction: row; /* Change to row layout on larger screens */
        justify-content: space-between; /* Add space between items on larger screens */
        align-items: flex-start;
    }
}
