
/* Ensuring images are responsive */
img {
    height: auto;
}

/* Styling the image gallery section */
.image-gallery {
    display: flex;
}

/* Styling individual image containers */
.image-container {
    flex-shrink: 0; /* Prevent images from shrinking */
    margin-right: 0; /* Remove margin between images */
}